@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  70% {
    transform: scale(1.4);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-pulse-ring {
  animation: pulse-ring 1.5s infinite;
}